/* Global Start*/
:root {
  --promo-bar: #1E2C20;
  --card-stroke: #000000;
  --color-text: #292828;
  --hover-nav-sale: #982A1C;
  --text-accent: #B73A2A;
  --option-one-card: #EA2D2C;
  --option-two-card: #FB5108;
  --option-three-card: #D29D12;
  --card-selector: #353535;
  --text-navbar: #353535;
  /* --hover-nav: #353535; */
  --hover-nav: #982A1C;
  --color-bg: #EDEDED;
  --sec-text: #FFFFFF;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg);
}

.header-text {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Global End */


/* Nav Start */
.nav-image {
  width: 20%;
  margin: 20px 50px;
}

.nav-link {
  font-weight: 400;
  font-size: 24px;
  margin: 0 30px;
  color: var(--text-navbar);
}

.nav-link:hover {
  color: var(--option-two-card);
  text-decoration: underline;
}

.sale-link {
  color: var(--text-accent);
}

/* Nav End */

/* Hero Start */
.hero-bg{
  background-image: url(../assets/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  max-width: 100%;
  height: 70rem;
  display: flex;
  justify-content: start;
  align-items: center;
  object-fit: contain;
}
.hero-box{
  background-color: var(--card-stroke);
  opacity: 70%;
  padding: 20px 40px;
  border-radius: 0;
  margin: 35rem 0 0 6rem;

}
.hero-text{
  color: var(--sec-text);
  font-weight: 400;
  opacity: 100%;
  text-align: center;
}
.hero-foot {
  background-color: var(--promo-bar);
  color: var(--sec-text);
  font-weight: 400;
  font-size: 24px;
  padding: 20px 0 5px;
}

/* Hero End */

/* Cooking Start */
.cook-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-left: 60px;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.cook-card {
  width: 300px;
  height: 400px;
}

.img-hover-zoom {
  height: 275px;
  border-radius: 5%;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .10s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.2);
}

.cook-image {
  width: 300px;
  height: 275px;
  border-radius: 5%;
}

.cook-text {
  font-weight: 500;
}

/* Cooking End */

/* Arrivals Start */
.arrival-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.arrival-card {
  width: 700px;
  margin-bottom: 60px;
}

.arrival-image {
  width: 100%;
  height: 550px;
  object-fit: fill;
  display: block;
  background-color: #000000;
}
.arrival-image:hover{
  filter: brightness(75%);
}

span {
  font-weight: bold;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-bg);
  display: inline-block;
}

.d-1 {
  background-color: var(--option-one-card);
  outline: none;
  box-shadow: 0 0 1pt 2pt black;

}

.d-2 {
  background-color: var(--option-two-card);
}

.d-3 {
  background-color: var(--option-three-card);
}

.d-4 {
  background-color: var(--card-selector);
}

/* Arrivals End */

/* Best Sellers Start */
.seller-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20PX;
  max-width: 31rem;
  margin-bottom: 30px;
}

.seller-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.seller-text {
  padding: 0;
}

.seller-btn {
  margin-top: 30px;
  border: 1px solid black;
}

.seller-btn:hover {
  filter: invert(1);
  border: 1px solid black;
}

.sauce-text {
  margin-bottom: 65px;
}

/* Best Sellers End */

/* Review Start */
.review-container {
  margin-bottom: 70px;
  overflow: hidden;
}

.review-card {
  min-height: 60vh;
  width: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 30px;
}

.review-image1 {
  background-image: url(../assets/Reviews1.jpg);
}

.review-image2 {
  background-image: url(../assets/Reviews2.jpg);
}

.review-image3 {
  background-image: url(../assets/Reviews3.jpg);
}

.review-box {
  background-color: var(--card-stroke);
  color: var(--sec-text);
  opacity: 0.7;
  margin: 134px;
  text-align: center;
  padding: 60px;
  width: 75%;
  border-radius: 5px;
}

.review-text {
  text-align: start;
}

/* Review End */

/* Footer Start */
footer {
  background-color: var(--promo-bar);
  color: var(--sec-text);
}

.social-logos {
  margin-top: 10px;
}

.social-icons {
  margin: 10px;
  height: 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 80px 100px;
}

.foot-home p {
  font-weight: 600;
  font-size: 20px;
}

.foot-home li {
  font-weight: 300;
  font-size: 16px;
}

.foot-product p {
  font-weight: 600;
  font-size: 20px;
}

.foot-product li {
  font-weight: 300;
  font-size: 16px;
}

.foot-customer p {
  font-weight: 600;
  font-size: 20px;
}

.foot-customer li {
  font-weight: 300;
  font-size: 16px;
}

.foot-social {
  grid-column: 6/8;
}

.foot-social p {
  font-weight: 400;
  font-size: 16px;
}

/* Footer End */

/* Media */
@media (max-width:992px) {
  .footer-grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 50% 50%;
  }

  .foot-social {
    grid-row: 1;
    grid-column: 1/3;
  }
}