/* Global */
:root {
    --promo-bar: #1E2C20;
    --card-stroke: #000000;
    --color-text: #292828;
    --hover-nav-sale: #982A1C;
    --text-accent: #B73A2A;
    --option-one-card: #EA2D2C;
    --option-two-card:#FB5108;
    --option-three-card: #D29D12;
    --card-selector: #353535;
    --text-navbar: #353535;
    /* --hover-nav: #353535; */
    --hover-nav: #982A1C;
    --color-bg: #EDEDED;
    --sec-text: #FFFFFF;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  body{
    font-family: "Roboto", sans-serif;
    background-color: var(--color-bg);
  }
  .header-text{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
  }


/* Nav Start */
.nav-image{
    width: 20%;
    margin: 20px 50px;
}
.nav-link{
    font-weight: 400;
    font-size: 24px;
    margin: 0 30px;
    color: var(--text-navbar);
}
.nav-link:hover{
    color: var(--option-two-card);
    text-decoration: underline;
}
.sale-link{
    color: var(--text-accent);
}
/* Nav End */

/* Hero Start */
.hero-size{
  width: 100%;
}
.hero-text{
  color: var(--sec-text);
  position: absolute;
  top: 750px;
  left: 4%;
}
.hero-text h1{
  background-color: var(--card-stroke);
  opacity: 80%;
  padding: 20px 35px;
  border-radius: 0;
  margin: 15px;
  font-weight: 400;
}
.hero-foot{
  background-color: var(--promo-bar);
  color: var(--sec-text);
  font-weight: 400;
  font-size: 24px;
  padding: 20px 0 5px;
}
/* Hero End */

/* Cooking Start */
.cook-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  justify-content: space-evenly;
  align-content: space-evenly;
}
.cook-card{
  width: 300px;
  height: 400px;
}
.img-hover-zoom{
  height: 275px;
  border-radius: 5%;
  overflow: hidden;
}
.img-hover-zoom img{
  transition: transform .10s ease;
}
.img-hover-zoom:hover img{
  transform: scale(1.2);
}
.cook-image{
  width: 300px;
  height: 275px;
  border-radius: 5%;
}
.cook-text{
  font-weight: 500;
}
/* Cooking End */

/* Arrivals Start */
.arrival-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.arrival-card{
  width: 700px;
}
.arrival-image{
  width: 100%;
  height: 550px;
  object-fit: fill; 
  display: block;
}




span{
  font-weight: bold;
}
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-bg);
  display: inline-block;
}
.d-1{
  background-color: var(--option-one-card);
  outline: none;
  box-shadow: 0 0 1pt 2pt black;

}
.d-2{
  background-color: var(--option-two-card);
}
.d-3{
  background-color: var(--option-three-card);
}
.d-4{
  background-color: var(--card-selector);
}